@import "../../../styles.scss";
.card {
  height: 350px;
  margin-left: 310px;
}

.container {
  margin: 0 0 0 0;
}

.footer {
  position: absolute;
  bottom: 0;
  margin-bottom: 40px;
}

.row {
  height: 350px;
}

.content {
  height: 350px;
}
