@import "../../../styles.scss";
.card {
  height: 290px;
  margin-left: 310px;
  padding-top: 0px;
}

.container {
  margin: 0 0 0 0;
}

.footer {
  position: absolute;
  bottom: 0;
  margin-bottom: 10px;
}

.row {
  height: 290px;
}

.content {
  margin-top:10px;
  height: 290px;
}

.mat-card-image {
  background-size: cover;
  display: inline-block;
  max-height: 100%;
  max-width: 100%;
  width: auto;
  height: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  margin-top: 0px !important;
}