<div class="dialog">
    <h1 mat-dialog-title>Rezerwacja</h1>
    <div mat-dialog-content>
        <mat-form-field class="col-sm-6 full-width">
            <input matInput placeholder="Email" [readonly]="true" [value]="reservationRequest.client.email">
        </mat-form-field>
        <mat-form-field class="col-sm-6 full-width">
            <input matInput placeholder="Imię" [readonly]="true" [value]="reservationRequest.client.firstName">
        </mat-form-field>
        <mat-form-field class="col-sm-6 full-width">
            <input matInput placeholder="Nazwisko" [readonly]="true" [value]="reservationRequest.client.lastName">
        </mat-form-field>
        <mat-form-field class="col-sm-6 full-width">
            <input matInput placeholder="Numer telefonu" [readonly]="true"
                [value]="reservationRequest.client.phoneNumber">
        </mat-form-field>
        <mat-form-field class="col-sm-6 full-width">
            <input matInput placeholder="Data" [readonly]="true" [value]="reservationRequest.date | date: 'dd.MM.yy'">
        </mat-form-field>
        <mat-form-field class="col-sm-6 full-width">
            <input matInput placeholder="Koszt" [readonly]="true" [value]="reservationRequest.cost">
        </mat-form-field>
        <mat-form-field class="col-sm-6 full-width">
            <input matInput placeholder="Status" [readonly]="true" [value]="reservationRequest.status">
        </mat-form-field>
        <mat-form-field class="col-sm-6 full-width">
            <input matInput placeholder="Okazja" [readonly]="true" [value]="reservationRequest.occasion">
        </mat-form-field>
        <mat-form-field class="col-sm-6 full-width">
            <input matInput placeholder="Miejsce" [readonly]="true" [value]="reservationRequest.placeName">
        </mat-form-field>
        <mat-form-field class="col-sm-6 full-width">
            <input matInput placeholder="Ilość ludzi" [readonly]="true" [value]="reservationRequest.amountOfPeople">
        </mat-form-field>
        <div *ngIf="!reservationRequest.isAnswered">
            <h4>Wybierz sale</h4>
            <div class="row">
                <mat-list class="col-sm-6">
                    <mat-list-item *ngFor="let choice of hallsChoices">
                        <mat-checkbox [disabled]="cannotBeJoined(choice.hall)" [(ngModel)]="choice.choosed"
                            class="margin" value="after">
                            {{choice.hall.name}}
                        </mat-checkbox>
                    </mat-list-item>
                </mat-list>
                <div class="col-sm-6">
                    <span>Pojemność wybranych sal: {{getCapacityOfChoosedHalls()}}</span>
                    <mat-progress-spinner class="spinner" [diameter]="150" [color]="'primary'" [mode]="'determinate'"
                        [value]="getSpinnerValue()">
                    </mat-progress-spinner>
                </div>
            </div>
        </div>
    </div>
    <div mat-dialog-actions>
        <button mat-button (click)="close()">Zamknij</button>
        <button *ngIf="!reservationRequest.isAnswered" color="warn" mat-button (click)="reject()">Odrzuć</button>
        <button *ngIf="!reservationRequest.isAnswered" color="primary" [disabled]="getSpinnerValue() < 100" mat-button
            (click)="accept()">Zaakceptuj</button>
    </div>
</div>