<mat-card>
    <mat-card-header>
        <mat-card-title>Logowanie - OccBooking</mat-card-title>
    </mat-card-header>
    <form [formGroup]="form">
        <mat-form-field>
            <input formControlName="userName" matInput placeholder="Nazwa użytkownika">
        </mat-form-field>
        <mat-form-field>
            <input formControlName="password" type="password" matInput placeholder="Hasło">
        </mat-form-field>
        <button (click)="submit()" mat-raised-button color="primary">Zaloguj się</button>
    </form>
</mat-card>
