table {
    width: 100%;
}
  
.mat-form-field {
    font-size: 14px;
    width: 90%;
}

.filter-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }