@import "../../styles.scss";
.example-card {
  height: 350px;
  margin-left: 210px;
}

.example-header-image {
  // background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
  width: 50%;
  height: 50%;
}

.container {
    margin: 0 0 0 0;
}



.mat-card-image {
  height: calc(40% + 32px);
  width: auto;
  padding: 10px 10px 10px 10px;
}

.footer {
position: absolute;
   bottom: 0;
   margin-bottom: 40px;
}

.row {
    height: 350px;
}

.image-container {
    height: 350px;
}

.content {
    height: 350px;
}


// .row {
//     div {
//         height: 350px;
//     }
// }
