<div class="container col-sm-12">
    <app-sidenav></app-sidenav>
    <mat-card class="example-card">
        <div class="row">
            <div class="imageContainer col-sm-3">
                <img mat-card-image [src]="imgUrl" alt="Photo of a Shiba Inu">
            </div>
            <div class="content col-sm-9">
                <div>
                    <h3>Calvados</h3>
                </div>
                <div>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas aliquet odio at tortor efficitur
                    volutpat.
                    Donec egestas auctor justo.
                    Aenean sed tortor et augue interdum sodales. Ut enim elit, congue in lectus vitae, tempus lacinia
                    eros.
                    Ut
                    ligula orci, vulputate gravida
                    tempor pharetra, tempus nec mi. Aenean eu eros enim. Aenean ut varius odio. Donec tristique nisl nec
                    interdum placerat. Vivamus vel
                    faucibus turpis, tempor tempor ex. Phasellus scelerisque vel dolor vel porttitor. Aenean aliquet,
                    erat
                    in
                    sagittis pretium, libero ipsum
                    condimentum dui, at hendrerit odio nisi sed leo. Sed pharetra turpis pharetra sodales dignissim. Sed
                    sapien
                    urna, faucibus in.
                </div>
                <div class="footer">
                    <span> Mikołów (Śląskie), ul. Kopaniny 12</span><br> <span> Koszt na osobę: od 100zł</span>
                </div>
            </div>
        </div>
    </mat-card>
</div>