<nav class="navbar navbar-expand-lg navbar-dark primary-color">
  <a class="navbar-brand" routerLink="">OccBooking</a>
  <div class="collapse navbar-collapse" id="basicExampleNav">
    <ul *ngIf="isLoggedIn()" class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLinkActive="active" class="nav-link" routerLink="/owner">Dodaj <mat-icon class="material-icons">
            home
          </mat-icon>
        </a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto nav-flex-icons">
      <li *ngIf="isLoggedIn()" class="nav-item">
        <button mat-button [matMenuTriggerFor]="menu">
          <span class="user" *ngIf="currentUser">{{currentUser.firstName}} {{currentUser.lastName}}</span>
          <mat-icon>person</mat-icon>
        </button>
        <!-- <mat-menu #places="matMenu">
          <ng-template matMenuContent let-menuPlaces="places">
            <button (click)="placeClicked(place)" *ngFor="let place of menuPlaces" mat-menu-item>{{place.name}}</button>
          </ng-template>
        </mat-menu> 
        <mat-menu #menu="matMenu">
          <button (click)="logOut()" mat-menu-item>Wyloguj się</button>
          <button mat-menu-item [matMenuTriggerFor]="places" [matMenuTriggerData]="menuData">Zarządzaj</button>
        </mat-menu> -->

        <mat-menu #menu="matMenu">
          <ng-container>
              <button (click)="logOut()" mat-menu-item>Wyloguj się</button>
              <button mat-menu-item [matMenuTriggerFor]="sub_menu">Zarządzaj</button>
            <mat-menu #sub_menu="matMenu">
              <button *ngFor="let place of places" mat-menu-item>{{ place.name }}</button>
            </mat-menu>
          </ng-container>
        </mat-menu>

        <!-- <mat-menu #menu="matMenu">
          <button [matMenuTriggerFor]="appmenu" [matMenuTriggerData]="menuData">
            <mat-icon>more_vert</mat-icon>
          </button>
        </mat-menu>
        <mat-menu #appmenu="matMenu">
          <ng-template matMenuContent let-aliasMenuItems="menuItems">
            <button mat-menu-item *ngFor="let item of aliasMenuItems">
              Item {{item.code}}: {{item.name}}
            </button>
          </ng-template>
        </mat-menu> -->
      </li>
      <li *ngIf="!isLoggedIn()" class="nav-item">
        <a class="nav-link" routerLink="/register">
          Zarejestruj się
        </a>
      </li>
      <li *ngIf="!isLoggedIn()" class="nav-item" routerLink="/login">
        <a class="nav-link">
          Zaloguje się
        </a>
      </li>
    </ul>
  </div>
</nav>