@import "../../../styles.scss";
mat-sidenav {
  overflow-y: initial;
  width: 100%;
}

::ng-deep .mat-drawer-inner-container {
  overflow-x: hidden !important;
  background-color: $secondary-color-darker !important;
  color: white;
}

.mat-sidenav-container {
  position: absolute;
  top: -20px;
  bottom: 0;
  min-height: 95vh;
  left: 0;
  min-width: 300px;
  border-right: 2px solid $primary-color-darker;
  border-top: 2px solid $primary-color-darker;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

::ng-deep .mat-focused .mat-form-field-label {
  color: white !important;
 }

 ::ng-deep .mat-form-field-underline {
  background-color: white !important;
} 

::ng-deep .mat-form-field-ripple {
 background-color: white !important;;
}

::ng-deep .mat-form-field-infix {
  color: white !important;
}

::ng-depp .mat-form-field-empty.mat-form-field-label {
  color: white;
  caret-color: white;
}

::ng-deep .mat-input-element {
  color: white !important;
  caret-color: white !important;
}

::ng-deep .mat-form-field-label{
  color:white !important;
}

::ng-deep .mat-select-arrow {
  color:white !important;
}

::ng-deep .mat-select-value-text {
  color: white !important;
}