@import "../../../styles.scss";
mat-sidenav {
  overflow-y: initial;
  width: 100%;
}

::ng-deep .mat-drawer-inner-container {
  overflow-x: hidden !important;
  background-color: $secondary-color-darker !important;
  color: white;
}

.mat-sidenav-container {
  position: absolute;
  top: -20px;
  bottom: 0;
  min-height: 95vh;
  left: 0;
  min-width: 300px;
  border-right: 2px solid $primary-color-darker;
  border-top: 2px solid $primary-color-darker;
}

form {
  min-width: 150px;
  max-width: 500px;
  width: 90%;
  margin: 0 auto;
}

.full-width {
  width: 100%;
}

.buttons {
  margin-top: 5px;
  button {
    margin-right: 10px;
  }
}