@import "../../../styles.scss";
mat-sidenav {
  overflow-y: initial;
  width: 100%;
}

::ng-deep .mat-drawer-inner-container {
  overflow-x: hidden !important;
  background-color: $secondary-color-darker !important;
  color: white;
}

.mat-sidenav-container {
  position: absolute;
  top: -20px;
  bottom: 0;
  min-height: 95vh;
  left: 0;
  min-width: 200px;
}
