<mat-sidenav-container>
        <mat-sidenav mode="size" #sidenav [opened]="true">
                <form class="form" [formGroup]="formGroup">
                        <div class="buttons">
                                <button mat-raised-button color="primary" (click)="filter()">Szukaj</button>
                                <button mat-raised-button color="primary" (click)="clear()">Wyczyść</button>
                        </div>
                        <mat-form-field class="full-width sidenav-form">
                                <input matInput placeholder="Nazwa" formControlName="name">
                        </mat-form-field>
                        <mat-form-field class="full-width sidenav-form">
                                <mat-label>Województwo</mat-label>
                                <mat-select formControlName="province">
                                        <mat-option>-</mat-option>
                                        <mat-option *ngFor="let province of provinces" [value]="province">{{province}}
                                        </mat-option>
                                </mat-select>
                        </mat-form-field>
                        <mat-form-field class="full-width sidenav-form">
                                <input matInput placeholder="Miasto" formControlName="city">
                        </mat-form-field>
                        <mat-form-field class="full-width sidenav-form">
                                <input type="number" matInput placeholder="Minimalny koszt od osoby"
                                        formControlName="minCostPerPerson">
                        </mat-form-field>
                        <mat-form-field class="full-width sidenav-form">
                                <input type="number" matInput placeholder="Maksymalny koszt od osoby"
                                        formControlName="maxCostPerPerson">
                        </mat-form-field>
                        <mat-form-field class="full-width sidenav-form">
                                <input type="number" matInput placeholder="Minimmalna pojemność"
                                        formControlName="minCapacity">
                        </mat-form-field>
                        <mat-form-field class="full-width sidenav-form">
                                <mat-label>Okazja</mat-label>
                                <mat-select formControlName="occassion">
                                        <mat-option>-</mat-option>
                                        <mat-option *ngFor="let occassion of occassions" [value]="occassion.id">
                                                {{occassion.value}}</mat-option>
                                </mat-select>
                        </mat-form-field>
                </form>
        </mat-sidenav>
        <mat-sidenav-content> </mat-sidenav-content>
</mat-sidenav-container>