@import '../../../styles.scss';

.section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}
  
.checkboxes {
  margin: 0 10px;
}

.mat-card {
  margin-left: 0;
  margin-right: 0;
} 

.submit-btn {
  margin-left: 10px;
}

.mat-toolbar {
  background-color: $primary-color-lighter !important;
  margin-top: -20px;
  color:white;
  height: 50px !important;
}

table {
  width: 100%;
}
