<mat-card>
    <mat-card-content>
        <div class="row">
            <div class="col-sm-6">
                <h4>Konfiguracja połaczeń sal</h4>
                <section class="section">
                    <mat-checkbox *ngFor="let join of hallJoins" class="checkboxes" [(ngModel)]="join.isPossible">
                        {{join.hallName}}</mat-checkbox>
                    <button mat-raised-button color="primary" (click)="submit()">Zapisz</button>
                </section>
            </div>
            <div class="col-sm-6">
                <app-hall-calendar></app-hall-calendar>
            </div>
        </div>
    </mat-card-content>
</mat-card>