.configuration {
    margin: 0 auto;
}

.mat-icon {
    cursor: pointer;
}

.presentation {
    margin: 0 auto;
}

.row {
    margin-left: 0;
    margin-right: 0;
}

.mat-card {
    margin-left: 0;
    margin-right: 0;
} 
