<div class="row">
    <mat-card class="col-sm-6">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Shiba Inu</mat-card-title>
            <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
            <p>
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                bred for hunting.
            </p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
        </mat-card-actions>
    </mat-card>
    <mat-card class="col-sm-5 configuration">
        <mat-card-header>
            <mat-card-title>Konfiguracja</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <mat-list>
                <h3 mat-subheader>Zestawy potraw<span class="spacer"></span><button mat-icon-button>
                        <mat-icon (click)="createMenu()" color="primary">add</mat-icon>
                    </button></h3>
                <mat-list-item *ngFor="let menu of menus">
                    <mat-icon mat-list-icon>restaurant_menu</mat-icon>
                    <h4 mat-line>{{menu.name}}</h4>
                </mat-list-item>
                <mat-divider></mat-divider>
            </mat-list>
            <mat-list>
                <h3 mat-subheader>Dodatkowe opcje<span class="spacer"></span><button mat-icon-button>
                        <mat-icon (click)="createAdditionalOption()" color="primary">add</mat-icon>
                    </button></h3>
                <mat-list-item *ngFor="let option of place?.additionalOptions">
                    <mat-icon mat-list-icon>restaurant_menu</mat-icon>
                    <h4 mat-line>{{option.name}} - {{option.cost}}zł</h4>
                </mat-list-item>
                <mat-divider></mat-divider>
            </mat-list>
            <mat-list>
                <h3 mat-subheader>Organizowane imprezy</h3>
                <app-occasional-types-section [types]="place?.occasionTypesMaps" (selected)="occasionTypeAdded($event)"
                    (removed)="occasionTypeRemoved($event)"></app-occasional-types-section>
            </mat-list>
            <mat-list>
                <h3 mat-subheader>Sale<span class="spacer"></span><button mat-icon-button>
                        <mat-icon (click)="createHall()" color="primary">add</mat-icon>
                    </button></h3>
                <mat-list-item *ngFor="let hall of halls">
                    <mat-icon mat-list-icon>restaurant_menu</mat-icon>
                    <h4 mat-line>{{hall.name}}</h4>
                </mat-list-item>
            </mat-list>
        </mat-card-content>
        <div class="calendar-container">
            <h3>Kalendarz</h3>
            <p-calendar [style]="{'width':'80%'}" [(ngModel)]="dates" [inline]="true" selectionMode="multiple"
                [locale]="en">
                <p-footer>
                    <button class="submit-calendar-button" mat-button color="primary"
                        (click)="saveChanges()">Zatwierdź</button>
                    <button mat-button color="accent" (click)="clearChanges()">Cofnij zmiany</button>
                </p-footer>
            </p-calendar>
        </div>
    </mat-card>
</div>