<mat-card>
  <mat-card-title>Dodaj swój dom przyjęć/sale.</mat-card-title>
  <mat-horizontal-stepper [linear]="false" #stepper>
    <mat-step [stepControl]="baseInfromationFormGroup">
      <form [formGroup]="baseInfromationFormGroup">
        <ng-template matStepLabel>Podstawowe informacje</ng-template>
        <div class="row">
          <mat-form-field class="col-sm-4">
            <input matInput placeholder="Nazwa" formControlName="name" required>
          </mat-form-field>
          <mat-checkbox class="col-sm-4" formControlName="hasRooms">Pokoje dla gości</mat-checkbox>
          <mat-form-field class="col-sm-4">
            <input matInput type="number" placeholder="Cena na osobę" formControlName="costPerPerson" required>
          </mat-form-field>
        </div>
        <div class="row">
          <mat-form-field class="col-sm-12">
            <textarea matInput placeholder="Opis" formControlName="description"></textarea>
          </mat-form-field>
        </div>
        <div>
          <button mat-button mat-button matStepperNext>Dalej</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="addressFormGroup">
      <form [formGroup]="addressFormGroup">
        <ng-template matStepLabel>Adres</ng-template>
        <div class="row">
          <mat-form-field class="col-sm-3">
            <input matInput placeholder="Miasto" formControlName="city" required>
          </mat-form-field>
          <mat-form-field class="col-sm-3">
            <input matInput placeholder="Ulica" formControlName="street" required>
          </mat-form-field>
          <mat-form-field class="col-sm-3">
            <input matInput placeholder="Kod pocztowy" formControlName="zipCode" required>
          </mat-form-field>
          <mat-form-field class="col-sm-3">
            <mat-label>Województwo</mat-label>
            <mat-select formControlName="province">
              <mat-option *ngFor="let province of provinces" [value]="province">
                {{province}}
              </mat-option>
            </mat-select>
          </mat-form-field>

        </div>
        <div>
          <button mat-button mat-button matStepperPrevious>Powrót</button>
          <button mat-button mat-button matStepperNext>Dalej</button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <form [formGroup]="fileFormGroup">
        <mat-form-field>
          <ngx-mat-file-input  formControlName="image" placeholder="Dodaj zdjęcie"></ngx-mat-file-input>
          <mat-icon matSuffix>folder</mat-icon>
        </mat-form-field>
      </form>
      <ng-template matStepLabel>Potwierdzenie</ng-template>
      Potwierdź dodanie swojego domu przyjęć/sali
      <div>
        <button mat-button matStepperPrevious>Powrót</button>
        <button mat-button (click)="submit()">Zakończ</button>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
</mat-card>